In [1]:
from sklearn.model_selection import StratifiedShuffleSplit
import numpy as np

In [2]:
import pandas as pd

df = pd.read_csv("earthquake.csv")
df

,magnitude,cdi,mmi,sig,nst,dmin,gap,depth,latitude,longitude,Year,Month,tsunami
0,7.0,8,7,768,117,0.509,17.0,14.000,-9.7963,159.596,2022,11,1
1,6.9,4,4,735,99,2.229,34.0,25.000,-4.9559,100.738,2022,11,0
2,7.0,3,3,755,147,3.125,18.0,579.000,-20.0508,-178.346,2022,11,1
3,7.3,5,5,833,149,1.865,21.0,37.000,-19.2918,-172.129,2022,11,1
4,6.6,0,2,670,131,4.998,27.0,624.464,-25.5948,178.278,2022,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,7.7,0,8,912,427,0.000,0.0,60.000,13.0490,-88.660,2001,1,0
778,6.9,5,7,745,0,0.000,0.0,36.400,56.7744,-153.281,2001,1,0
779,7.1,0,7,776,372,0.000,0.0,103.000,-14.9280,167.170,2001,1,0
780,6.8,0,5,711,64,0.000,0.0,33.000,6.6310,126.899,2001,1,0
781,7.5,0,7,865,324,0.000,0.0,33.000,6.8980,126.579,2001,1,0

In [3]:
df['mmi_cat'] = pd.cut(df['mmi'] , bins = [0.0,3.0,6.0,9.0,12.0,np.inf] , labels=[1,2,3,4,5])

In [ ]:
df.drop('dmin_cat' , axis=1)

In [6]:
split = StratifiedShuffleSplit(n_splits=2 , test_size=0.2 , random_state=42)
for train_index, test_index in split.split(df,df['mmi_cat']):
    train_set = df.iloc[train_index].drop('mmi_cat' ,axis=1)
    test_set = df.iloc[test_index].drop('mmi_cat' , axis=1)

In [7]:
data = train_set.copy()

In [8]:
data_features = data.drop('tsunami', axis=1)
data_labels = data['tsunami']

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_feature = scaler.fit_transform(data_features)

In [23]:
data_feature

array([[-0.74922988, -1.38071   , -0.66060035, ...,  0.97604868,
        -1.53248226,  1.25047317],
       [ 0.1359661 , -0.10605158,  0.72256621, ...,  0.77549614,
        -1.36668662,  1.25047317],
       [-0.74922988, -1.38071   ,  0.03098293, ...,  0.83778022,
        -1.53248226, -0.18197868],
       ...,
       [ 0.57856409, -0.10605158, -0.66060035, ...,  0.32897929,
        -1.20089098,  0.10451169],
       [-0.30663189,  0.21261302, -2.04376691, ..., -0.98027536,
         0.95445234, -0.75495942],
       [-0.30663189, -1.38071   ,  0.03098293, ..., -1.02152138,
        -1.20089098,  1.25047317]])

In [29]:
columns =['magnitude', 'cdi' , 'mmi' , 'sig' , 'nst' ,'dmin' ,'gap	depth' , 'latitude' , 'longitude' , 'Year' , 'Month' , 'tsunami']

data_features = pd.DataFrame(data_feature , columns=columns , index=data.index)

In [30]:
data_features

,magnitude,cdi,mmi,sig,nst,dmin,gap\tdepth,latitude,longitude,Year,Month,tsunami
705,-0.749230,-1.380710,-0.660600,-0.612679,0.994920,-0.588515,0.047094,0.245582,-0.798696,0.976049,-1.532482,1.250473
672,0.135966,-0.106052,0.722566,-0.292272,2.829485,-0.588515,-0.044661,-0.286610,1.500534,0.775496,-1.366687,1.250473
719,-0.749230,-1.380710,0.030983,-0.612679,0.768630,-0.588515,0.110923,-0.329356,-0.275584,0.837780,-1.532482,-0.181979
83,0.135966,1.168607,0.722566,2.106023,-0.924505,0.091290,-0.280030,-0.414849,1.311896,-0.222700,1.286044,0.963983
716,-0.970529,-1.380710,0.030983,-0.676126,-0.294125,-0.588515,0.254538,-0.329356,-0.228800,0.835013,-1.532482,0.104512
...,...,...,...,...,...,...,...,...,...,...,...,...
501,1.242461,0.531278,-0.660600,0.891014,1.152514,-0.588515,-0.256094,-0.315107,0.203552,0.326837,-0.371913,-0.181979
701,-0.970529,0.849942,2.105733,1.671411,-0.661847,-0.567534,1.834306,-0.504744,1.230780,-1.470375,-1.532482,1.536964
648,0.578564,-0.106052,-0.660600,-0.174895,1.645503,-0.588515,0.055072,-0.450471,0.204992,0.328979,-1.200891,0.104512
175,-0.306632,0.212613,-2.043767,-0.412821,-0.924505,1.793935,-0.359816,3.418074,-0.850273,-0.980275,0.954452,-0.754959
642,-0.306632,-1.380710,0.030983,-0.482613,1.132310,-0.588515,0.202677,0.482825,-0.913126,-1.021521,-1.200891,1.250473