In [29]:
from sklearn.model_selection import StratifiedShuffleSplit
import numpy as np

In [30]:
import pandas as pd

df = pd.read_csv("earthquake.csv")
df

     magnitude  cdi  mmi  sig  nst   dmin   gap    depth  latitude  longitude  Year  Month  tsunami
0          7.0    8    7  768  117  0.509  17.0   14.000   -9.7963    159.596  2022     11        1
1          6.9    4    4  735   99  2.229  34.0   25.000   -4.9559    100.738  2022     11        0
2          7.0    3    3  755  147  3.125  18.0  579.000  -20.0508   -178.346  2022     11        1
3          7.3    5    5  833  149  1.865  21.0   37.000  -19.2918   -172.129  2022     11        1
4          6.6    0    2  670  131  4.998  27.0  624.464  -25.5948    178.278  2022     11        1
..         ...  ...  ...  ...  ...    ...   ...      ...       ...        ...   ...    ...      ...
777        7.7    0    8  912  427  0.000   0.0   60.000   13.0490    -88.660  2001      1        0
778        6.9    5    7  745    0  0.000   0.0   36.400   56.7744   -153.281  2001      1        0
779        7.1    0    7  776  372  0.000   0.0  103.000  -14.9280    167.170  2001      1        0
780        6.8    0    5  711   64  0.000   0.0   33.000    6.6310    126.899  2001      1        0
781        7.5    0    7  865  324  0.000   0.0   33.000    6.8980    126.579  2001      1        0

[782 rows x 13 columns]

In [31]:
df['mmi_cat'] = pd.cut(df['mmi'] , bins = [0.0,3.0,6.0,9.0,12.0,np.inf] , labels=[1,2,3,4,5])

In [ ]:
df.drop('dmin_cat' , axis=1)

In [33]:
split = StratifiedShuffleSplit(n_splits=2 , test_size=0.2 , random_state=42)
for train_index, test_index in split.split(df,df['mmi_cat']):
    train_set = df.iloc[train_index].drop('mmi_cat' ,axis=1)
    test_set = df.iloc[test_index].drop('mmi_cat' , axis=1)

In [34]:
data = train_set.copy()

In [35]:
data_features = data.drop('tsunami', axis=1)
data_labels = data['tsunami']

In [37]:
data_labels

705    0
672    0
719    0
83     0
716    0
      ..
501    0
701    0
648    0
175    0
642    0
Name: tsunami, Length: 625, dtype: int64