In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [3]:
df['income_cat'] = pd.cut(df['median_income'],bins=[0,1.5,3.0,4.5,6.0,np.inf], labels=[1,2,3,4,5])
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,5
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,5
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,5
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,4
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,3
...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,2
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,2
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND,2
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,2
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,2

In [4]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)
for train_index,test_index in split.split(df,df['income_cat']):
    strat_train_set=df.loc[train_index]
    strat_test_set=df.loc[test_index]

In [5]:
for sett in (strat_train_set,strat_test_set):
    sett.drop("income_cat", inplace=True,axis=1)

In [6]:
data = strat_train_set.copy()
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
12655,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
15502,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2908,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
14053,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
20496,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
15174,-117.07,33.03,14.0,6665.0,1231.0,2026.0,1001.0,5.0900,268500.0,<1H OCEAN
12661,-121.42,38.51,15.0,7901.0,1422.0,4769.0,1418.0,2.8139,90400.0,INLAND
19263,-122.72,38.44,48.0,707.0,166.0,458.0,172.0,3.1797,140400.0,<1H OCEAN
19140,-122.70,38.31,14.0,3155.0,580.0,1208.0,501.0,4.1964,258100.0,<1H OCEAN
19773,-122.14,39.97,27.0,1079.0,222.0,625.0,197.0,3.1319,62700.0,INLAND

In [7]:
housing = data.drop("median_house_value",axis=1)
housing_labels = data['median_house_value']

In [8]:
from sklearn.impute import SimpleImputer

In [9]:
lmputer = SimpleImputer(strategy="median")
housing_num = housing.select_dtypes(include=(np.number))
housing_num

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
12655,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736
15502,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373
2908,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750
14053,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264
20496,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964
...,...,...,...,...,...,...,...,...
15174,-117.07,33.03,14.0,6665.0,1231.0,2026.0,1001.0,5.0900
12661,-121.42,38.51,15.0,7901.0,1422.0,4769.0,1418.0,2.8139
19263,-122.72,38.44,48.0,707.0,166.0,458.0,172.0,3.1797
19140,-122.70,38.31,14.0,3155.0,580.0,1208.0,501.0,4.1964
19773,-122.14,39.97,27.0,1079.0,222.0,625.0,197.0,3.1319

In [10]:
lmputer.fit(housing_num)

SimpleImputer(strategy='median')

In [11]:
x = lmputer.transform(housing_num)

In [12]:
data = pd.DataFrame(x, columns=housing_num.columns, index=housing_num.index)
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
12655,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736
15502,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373
2908,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750
14053,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264
20496,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964
...,...,...,...,...,...,...,...,...
15174,-117.07,33.03,14.0,6665.0,1231.0,2026.0,1001.0,5.0900
12661,-121.42,38.51,15.0,7901.0,1422.0,4769.0,1418.0,2.8139
19263,-122.72,38.44,48.0,707.0,166.0,458.0,172.0,3.1797
19140,-122.70,38.31,14.0,3155.0,580.0,1208.0,501.0,4.1964
19773,-122.14,39.97,27.0,1079.0,222.0,625.0,197.0,3.1319

In [13]:
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
12655,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,INLAND
15502,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,NEAR OCEAN
2908,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,INLAND
14053,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,NEAR OCEAN
20496,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,<1H OCEAN
...,...,...,...,...,...,...,...,...,...
15174,-117.07,33.03,14.0,6665.0,1231.0,2026.0,1001.0,5.0900,<1H OCEAN
12661,-121.42,38.51,15.0,7901.0,1422.0,4769.0,1418.0,2.8139,INLAND
19263,-122.72,38.44,48.0,707.0,166.0,458.0,172.0,3.1797,<1H OCEAN
19140,-122.70,38.31,14.0,3155.0,580.0,1208.0,501.0,4.1964,<1H OCEAN
19773,-122.14,39.97,27.0,1079.0,222.0,625.0,197.0,3.1319,INLAND

In [14]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()

In [15]:
transformed_data = encoder.fit_transform(housing)
transformed_data

array([[2.390e+02, 5.690e+02, 2.800e+01, ..., 7.040e+02, 1.815e+03,
        1.000e+00],
       [6.620e+02, 5.500e+01, 6.000e+00, ..., 7.660e+02, 9.519e+03,
        4.000e+00],
       [4.810e+02, 2.730e+02, 4.300e+01, ..., 2.980e+02, 3.475e+03,
        1.000e+00],
       ...,
       [1.130e+02, 5.610e+02, 4.700e+01, ..., 1.700e+02, 4.239e+03,
        0.000e+00],
       [1.150e+02, 5.480e+02, 1.300e+01, ..., 4.990e+02, 6.403e+03,
        0.000e+00],
       [1.710e+02, 7.010e+02, 2.600e+01, ..., 1.950e+02, 4.107e+03,
        1.000e+00]])

In [16]:
data = pd.DataFrame(transformed_data,columns=housing.columns, index=housing.index)
data
housingop = housing[['ocean_proximity']]
housingop.dtypes

ocean_proximity    object
dtype: object

In [17]:
from sklearn.preprocessing import OneHotEncoder
encoderh = OneHotEncoder()

In [18]:
housingop.dtypes

ocean_proximity    object
dtype: object

In [19]:
housing_cat = encoderh.fit_transform(housingop)
housing_cat.toarray()

array([[0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0.],
       ...,
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [20]:
encoderh.categories_

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]

In [21]:
housing_cat = pd.DataFrame(housing_cat.toarray() , columns=['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],index=housing.index)
housing_cat

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
12655        0.0     1.0     0.0       0.0         0.0
15502        0.0     0.0     0.0       0.0         1.0
2908         0.0     1.0     0.0       0.0         0.0
14053        0.0     0.0     0.0       0.0         1.0
20496        1.0     0.0     0.0       0.0         0.0
...          ...     ...     ...       ...         ...
15174        1.0     0.0     0.0       0.0         0.0
12661        0.0     1.0     0.0       0.0         0.0
19263        1.0     0.0     0.0       0.0         0.0
19140        1.0     0.0     0.0       0.0         0.0
19773        0.0     1.0     0.0       0.0         0.0

[16512 rows x 5 columns]

In [25]:
df = pd.concat([data,housing_cat],axis=1)

In [26]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
12655,239.0,569.0,28.0,3555.0,795.0,2167.0,704.0,1815.0,1.0,0.0,1.0,0.0,0.0,0.0
15502,662.0,55.0,6.0,4411.0,853.0,1965.0,766.0,9519.0,4.0,0.0,0.0,0.0,0.0,1.0
2908,481.0,273.0,43.0,1410.0,308.0,625.0,298.0,3475.0,1.0,0.0,1.0,0.0,0.0,0.0
14053,672.0,21.0,23.0,1669.0,517.0,856.0,481.0,1959.0,4.0,0.0,0.0,0.0,0.0,1.0
20496,515.0,174.0,26.0,3269.0,644.0,1791.0,578.0,6883.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15174,678.0,49.0,13.0,4852.0,1208.0,1976.0,996.0,7805.0,0.0,1.0,0.0,0.0,0.0,0.0
12661,243.0,568.0,14.0,5072.0,1354.0,3353.0,1322.0,3341.0,1.0,0.0,1.0,0.0,0.0,0.0
19263,113.0,561.0,47.0,518.0,164.0,416.0,170.0,4239.0,0.0,1.0,0.0,0.0,0.0,0.0
19140,115.0,548.0,13.0,2924.0,578.0,1166.0,499.0,6403.0,0.0,1.0,0.0,0.0,0.0,0.0
19773,171.0,701.0,26.0,877.0,220.0,583.0,195.0,4107.0,1.0,0.0,1.0,0.0,0.0,0.0

In [28]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(-1,1))
df_scaled = scaler.fit_transform(df)

In [29]:
df_scaled = pd.DataFrame(df_scaled, columns=df.columns , index=df.index)

In [30]:
df_scaled

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
12655,-0.419903,0.357995,0.098039,0.294375,-0.121061,0.197899,-0.166864,-0.667095,-0.5,-1.0,1.0,-1.0,-1.0,-1.0
15502,0.606796,-0.868735,-0.764706,0.606044,-0.056938,0.086235,-0.093491,0.745965,1.0,-1.0,-1.0,-1.0,-1.0,1.0
2908,0.167476,-0.348449,0.686275,-0.486619,-0.659480,-0.654505,-0.647337,-0.362619,-0.5,-1.0,1.0,-1.0,-1.0,-1.0
14053,0.631068,-0.949881,-0.098039,-0.392317,-0.428413,-0.526810,-0.430769,-0.640682,1.0,-1.0,-1.0,-1.0,-1.0,1.0
20496,0.250000,-0.584726,0.019608,0.190242,-0.288004,-0.009950,-0.315976,0.262472,-1.0,1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15174,0.645631,-0.883055,-0.490196,0.766612,0.335544,0.092316,0.178698,0.431585,-1.0,1.0,-1.0,-1.0,-1.0,-1.0
12661,-0.410194,0.355609,-0.450980,0.846714,0.496960,0.853510,0.564497,-0.387197,-0.5,-1.0,1.0,-1.0,-1.0,-1.0
19263,-0.725728,0.338902,0.843137,-0.811396,-0.818684,-0.770039,-0.798817,-0.222487,-1.0,1.0,-1.0,-1.0,-1.0,-1.0
19140,-0.720874,0.307876,-0.490196,0.064628,-0.360973,-0.355445,-0.409467,0.174431,-1.0,1.0,-1.0,-1.0,-1.0,-1.0
19773,-0.584951,0.673031,0.019608,-0.680685,-0.756772,-0.677722,-0.769231,-0.246698,-0.5,-1.0,1.0,-1.0,-1.0,-1.0

In [33]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scale = scaler.fit_transform(df)

In [34]:
df_scale = pd.DataFrame(df_scale , columns=df.columns , index=df.index)

In [35]:
df_scale

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
12655,-0.948226,1.366068,0.027564,1.104872,0.845918,1.149828,0.734851,-1.139918,-0.119005,-0.887683,1.46218,-0.011006,-0.354889,-0.384217
15502,1.180778,-1.214198,-1.722018,1.784457,1.021152,0.885365,0.938105,1.515637,1.993150,-0.887683,-0.68391,-0.011006,-0.354889,2.602693
2908,0.269785,-0.119844,1.220460,-0.598059,-0.625440,-0.868990,-0.596132,-0.567719,-0.119005,-0.887683,1.46218,-0.011006,-0.354889,-0.384217
14053,1.231109,-1.384877,-0.370069,-0.392437,0.006005,-0.566560,0.003794,-1.090282,1.993150,-0.887683,-0.68391,-0.011006,-0.354889,2.602693
20496,0.440911,-0.616821,-0.131489,0.877815,0.389707,0.657561,0.321787,0.607012,-0.823056,1.126529,-0.68391,-0.011006,-0.354889,-0.384217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15174,1.261307,-1.244318,-1.165333,2.134570,2.093703,0.899767,1.692110,0.924824,-0.823056,1.126529,-0.68391,-0.011006,-0.354889,-0.384217
12661,-0.928094,1.361048,-1.085806,2.309230,2.534808,2.702563,2.760831,-0.613909,-0.119005,-0.887683,1.46218,-0.011006,-0.354889,-0.384217
19263,-1.582398,1.325908,1.538566,-1.306225,-1.060503,-1.142617,-1.015753,-0.304370,-0.823056,1.126529,-0.68391,-0.011006,-0.354889,-0.384217
19140,-1.572332,1.260649,-1.165333,0.603917,0.190303,-0.160702,0.062803,0.441557,-0.823056,1.126529,-0.68391,-0.011006,-0.354889,-0.384217
19773,-1.290478,2.028705,-0.131489,-1.021212,-0.891312,-0.923977,-0.933796,-0.349870,-0.119005,-0.887683,1.46218,-0.011006,-0.354889,-0.384217