In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("housing.csv")
df

       longitude  latitude  housing_median_age  ...  median_income  median_house_value  ocean_proximity
0        -122.23     37.88                41.0  ...         8.3252            452600.0         NEAR BAY
1        -122.22     37.86                21.0  ...         8.3014            358500.0         NEAR BAY
2        -122.24     37.85                52.0  ...         7.2574            352100.0         NEAR BAY
3        -122.25     37.85                52.0  ...         5.6431            341300.0         NEAR BAY
4        -122.25     37.85                52.0  ...         3.8462            342200.0         NEAR BAY
...          ...       ...                 ...  ...            ...                 ...              ...
20635    -121.09     39.48                25.0  ...         1.5603             78100.0           INLAND
20636    -121.21     39.49                18.0  ...         2.5568             77100.0           INLAND
20637    -121.22     39.43                17.0  ...         1.7000             92300.0           INLAND
20638    -121.32     39.43                18.0  ...         1.8672             84700.0           INLAND
20639    -121.24     39.37                16.0  ...         2.3886             89400.0           INLAND

[20640 rows x 10 columns]

In [7]:
df['income_cat'] = pd.cut(df['median_income'],bins=[0,1.5,3.0,4.5,6.0,np.inf], labels=[1,2,3,4,5])
df

       longitude  latitude  housing_median_age  ...  median_house_value  ocean_proximity  income_cat
0        -122.23     37.88                41.0  ...            452600.0         NEAR BAY           5
1        -122.22     37.86                21.0  ...            358500.0         NEAR BAY           5
2        -122.24     37.85                52.0  ...            352100.0         NEAR BAY           5
3        -122.25     37.85                52.0  ...            341300.0         NEAR BAY           4
4        -122.25     37.85                52.0  ...            342200.0         NEAR BAY           3
...          ...       ...                 ...  ...                 ...              ...         ...
20635    -121.09     39.48                25.0  ...             78100.0           INLAND           2
20636    -121.21     39.49                18.0  ...             77100.0           INLAND           2
20637    -121.22     39.43                17.0  ...             92300.0           INLAND           2
20638    -121.32     39.43                18.0  ...             84700.0           INLAND           2
20639    -121.24     39.37                16.0  ...             89400.0           INLAND           2

[20640 rows x 11 columns]

In [8]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)
for train_index,test_index in split.split(df,df['income_cat']):
    strat_train_set=df.loc[train_index]
    strat_test_set=df.loc[test_index]

In [9]:
for sett in (strat_train_set,strat_test_set):
    sett.drop("income_cat", inplace=True,axis=1)

In [10]:
data = strat_train_set.copy()
data

       longitude  latitude  housing_median_age  ...  median_income  median_house_value  ocean_proximity
12655    -121.46     38.52                29.0  ...         2.1736             72100.0           INLAND
15502    -117.23     33.09                 7.0  ...         6.3373            279600.0       NEAR OCEAN
2908     -119.04     35.37                44.0  ...         2.8750             82700.0           INLAND
14053    -117.13     32.75                24.0  ...         2.2264            112500.0       NEAR OCEAN
20496    -118.70     34.28                27.0  ...         4.4964            238300.0        <1H OCEAN
...          ...       ...                 ...  ...            ...                 ...              ...
15174    -117.07     33.03                14.0  ...         5.0900            268500.0        <1H OCEAN
12661    -121.42     38.51                15.0  ...         2.8139             90400.0           INLAND
19263    -122.72     38.44                48.0  ...         3.1797            140400.0        <1H OCEAN
19140    -122.70     38.31                14.0  ...         4.1964            258100.0        <1H OCEAN
19773    -122.14     39.97                27.0  ...         3.1319             62700.0           INLAND

[16512 rows x 10 columns]

In [11]:
housing = data.drop("median_house_value",axis=1)
housing_labels = data['median_house_value']

In [12]:
from sklearn.impute import SimpleImputer

In [13]:
lmputer = SimpleImputer(strategy="median")
housing_num = housing.select_dtypes(include=(np.number))
housing_num

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  population  households  median_income
12655    -121.46     38.52                29.0       3873.0           797.0      2237.0       706.0         2.1736
15502    -117.23     33.09                 7.0       5320.0           855.0      2015.0       768.0         6.3373
2908     -119.04     35.37                44.0       1618.0           310.0       667.0       300.0         2.8750
14053    -117.13     32.75                24.0       1877.0           519.0       898.0       483.0         2.2264
20496    -118.70     34.28                27.0       3536.0           646.0      1837.0       580.0         4.4964
...          ...       ...                 ...          ...             ...         ...         ...            ...
15174    -117.07     33.03                14.0       6665.0          1231.0      2026.0      1001.0         5.0900
12661    -121.42     38.51                15.0       7901.0          1422.0      4769.0      1418.0         2.8139
19263    -122.72     38.44                48.0        707.0           166.0       458.0       172.0         3.1797
19140    -122.70     38.31                14.0       3155.0           580.0      1208.0       501.0         4.1964
19773    -122.14     39.97                27.0       1079.0           222.0       625.0       197.0         3.1319

[16512 rows x 8 columns]

In [14]:
lmputer.fit(housing_num)

SimpleImputer(strategy='median')

In [15]:
x = lmputer.transform(housing_num)

In [16]:
data = pd.DataFrame(x, columns=housing_num.columns, index=housing_num.index)
data

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  population  households  median_income
12655    -121.46     38.52                29.0       3873.0           797.0      2237.0       706.0         2.1736
15502    -117.23     33.09                 7.0       5320.0           855.0      2015.0       768.0         6.3373
2908     -119.04     35.37                44.0       1618.0           310.0       667.0       300.0         2.8750
14053    -117.13     32.75                24.0       1877.0           519.0       898.0       483.0         2.2264
20496    -118.70     34.28                27.0       3536.0           646.0      1837.0       580.0         4.4964
...          ...       ...                 ...          ...             ...         ...         ...            ...
15174    -117.07     33.03                14.0       6665.0          1231.0      2026.0      1001.0         5.0900
12661    -121.42     38.51                15.0       7901.0          1422.0      4769.0      1418.0         2.8139
19263    -122.72     38.44                48.0        707.0           166.0       458.0       172.0         3.1797
19140    -122.70     38.31                14.0       3155.0           580.0      1208.0       501.0         4.1964
19773    -122.14     39.97                27.0       1079.0           222.0       625.0       197.0         3.1319

[16512 rows x 8 columns]

In [17]:
housing

       longitude  latitude  housing_median_age  total_rooms  ...  population  households  median_income  ocean_proximity
12655    -121.46     38.52                29.0       3873.0  ...      2237.0       706.0         2.1736           INLAND
15502    -117.23     33.09                 7.0       5320.0  ...      2015.0       768.0         6.3373       NEAR OCEAN
2908     -119.04     35.37                44.0       1618.0  ...       667.0       300.0         2.8750           INLAND
14053    -117.13     32.75                24.0       1877.0  ...       898.0       483.0         2.2264       NEAR OCEAN
20496    -118.70     34.28                27.0       3536.0  ...      1837.0       580.0         4.4964        <1H OCEAN
...          ...       ...                 ...          ...  ...         ...         ...            ...              ...
15174    -117.07     33.03                14.0       6665.0  ...      2026.0      1001.0         5.0900        <1H OCEAN
12661    -121.42     38.51                15.0       7901.0  ...      4769.0      1418.0         2.8139           INLAND
19263    -122.72     38.44                48.0        707.0  ...       458.0       172.0         3.1797        <1H OCEAN
19140    -122.70     38.31                14.0       3155.0  ...      1208.0       501.0         4.1964        <1H OCEAN
19773    -122.14     39.97                27.0       1079.0  ...       625.0       197.0         3.1319           INLAND

[16512 rows x 9 columns]

In [18]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()

In [19]:
transformed_data = encoder.fit_transform(housing)
transformed_data

array([[2.390e+02, 5.690e+02, 2.800e+01, ..., 7.040e+02, 1.815e+03,
        1.000e+00],
       [6.620e+02, 5.500e+01, 6.000e+00, ..., 7.660e+02, 9.519e+03,
        4.000e+00],
       [4.810e+02, 2.730e+02, 4.300e+01, ..., 2.980e+02, 3.475e+03,
        1.000e+00],
       ...,
       [1.130e+02, 5.610e+02, 4.700e+01, ..., 1.700e+02, 4.239e+03,
        0.000e+00],
       [1.150e+02, 5.480e+02, 1.300e+01, ..., 4.990e+02, 6.403e+03,
        0.000e+00],
       [1.710e+02, 7.010e+02, 2.600e+01, ..., 1.950e+02, 4.107e+03,
        1.000e+00]])

In [37]:
data = pd.DataFrame(transformed_data,columns=housing.columns, index=housing.index)
data
housingop = housing[['ocean_proximity']]
housingop.dtypes

ocean_proximity    object
dtype: object

In [38]:
from sklearn.preprocessing import OneHotEncoder
encoderh = OneHotEncoder()

In [39]:
housingop.dtypes

ocean_proximity    object
dtype: object

In [41]:
housing_cat = encoderh.fit_transform(housingop)
housing_cat.toarray()

array([[0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0.],
       ...,
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [44]:
encoderh.categories_

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]

In [45]:
housing_cat = pd.DataFrame(housing_cat.toarray() , columns=['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],index=housing.index)
housing_cat

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
12655        0.0     1.0     0.0       0.0         0.0
15502        0.0     0.0     0.0       0.0         1.0
2908         0.0     1.0     0.0       0.0         0.0
14053        0.0     0.0     0.0       0.0         1.0
20496        1.0     0.0     0.0       0.0         0.0
...          ...     ...     ...       ...         ...
15174        1.0     0.0     0.0       0.0         0.0
12661        0.0     1.0     0.0       0.0         0.0
19263        1.0     0.0     0.0       0.0         0.0
19140        1.0     0.0     0.0       0.0         0.0
19773        0.0     1.0     0.0       0.0         0.0

[16512 rows x 5 columns]

In [48]:
housing = pd.concat([data,housing_cat],axis=1)

In [49]:
housing

       longitude  latitude  housing_median_age  total_rooms  ...  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
12655      239.0     569.0                28.0       3555.0  ...     1.0     0.0       0.0         0.0
15502      662.0      55.0                 6.0       4411.0  ...     0.0     0.0       0.0         1.0
2908       481.0     273.0                43.0       1410.0  ...     1.0     0.0       0.0         0.0
14053      672.0      21.0                23.0       1669.0  ...     0.0     0.0       0.0         1.0
20496      515.0     174.0                26.0       3269.0  ...     0.0     0.0       0.0         0.0
...          ...       ...                 ...          ...  ...     ...     ...       ...         ...
15174      678.0      49.0                13.0       4852.0  ...     0.0     0.0       0.0         0.0
12661      243.0     568.0                14.0       5072.0  ...     1.0     0.0       0.0         0.0
19263      113.0     561.0                47.0        518.0  ...     0.0     0.0       0.0         0.0
19140      115.0     548.0                13.0       2924.0  ...     0.0     0.0       0.0         0.0
19773      171.0     701.0                26.0        877.0  ...     1.0     0.0       0.0         0.0

[16512 rows x 14 columns]

In [50]:
housing = pd.concat([df,housing_cat],axis=1)

In [53]:
housing.drop(['income_cat'],axis=1)

       longitude  latitude  housing_median_age  total_rooms  ...  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0        -122.23     37.88                41.0        880.0  ...     0.0     0.0       1.0         0.0
1        -122.22     37.86                21.0       7099.0  ...     0.0     0.0       1.0         0.0
2        -122.24     37.85                52.0       1467.0  ...     0.0     0.0       1.0         0.0
3        -122.25     37.85                52.0       1274.0  ...     0.0     0.0       1.0         0.0
4        -122.25     37.85                52.0       1627.0  ...     0.0     0.0       1.0         0.0
...          ...       ...                 ...          ...  ...     ...     ...       ...         ...
20635    -121.09     39.48                25.0       1665.0  ...     1.0     0.0       0.0         0.0
20636    -121.21     39.49                18.0        697.0  ...     1.0     0.0       0.0         0.0
20637    -121.22     39.43                17.0       2254.0  ...     1.0     0.0       0.0         0.0
20638    -121.32     39.43                18.0       1860.0  ...     1.0     0.0       0.0         0.0
20639    -121.24     39.37                16.0       2785.0  ...     NaN     NaN       NaN         NaN

[20640 rows x 15 columns]